.element__checkbox-container {
}

@media screen and (max-width: 687px) {
  .element__checkbox-container {
    width: 22px;
    height: 22px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 1;
    background-color: var(--system-white, #FFF);
    border-radius: 6px;
    margin: 4px 0 0 4px;
  }
}
