.payment-method__button-transperant {
    background: transparent;
    border: none;
    padding: 0 6px;
}

.payment-method__button-transperant:hover {
opacity: 0.6;
transition: 0.35s;
cursor: pointer;
}

@media screen and (max-width: 687px) {
    .payment-method__button-transperant {
      font-size: 16px;
      align-self: flex-end;
    }
  }