.button_size_long {
  max-width: 100%;
  border-radius: 8px;
  background: var(--system-magenta, #cb11ab);
  height: 44px;
  padding: 0px 32px 5px 32px;
  border: none;
}

.button_size_long:hover {
  opacity: 0.6;
  transition: 0.35s;
  cursor: pointer;
}