.button_img_like {
    background: no-repeat center/20px url("../../../images/like.svg");
    height: 20px;
}

.button_img_like:hover {
    cursor: pointer;
    width: 20px;
    height: 16px;
    background: rgba(203, 17, 171, 1);
    -webkit-mask-image:  url('../../../images/like.svg');
    mask-image: url("../../../images/like.svg");

}