.button {
    /* width: 56px;
    height: 53px;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center; */
    /* width: 20px;
    height: 20px; */
    background-color: transparent;
    border: none;
}

